# Norman Finance API Credentials
NORMAN_EMAIL=your_email@example.com
NORMAN_PASSWORD=your_password

# API Environment (production or sandbox)
NORMAN_ENVIRONMENT=production

# API Timeout in seconds
NORMAN_API_TIMEOUT=200
NORMAN_INTERNAL_API_BASE_URL=
